
{{>header}}


   

<h1 style="color:rgb(115, 121, 156); text-align: center; text-emphasis: shadow 3px;">TORAMA VIDEOS PORTAL</h1>

{{#if info }} 
	<h2 style="color:rgb(9, 212, 87); text-align: center; text-emphasis: shadow 3px;" class="bg-dark">{{info}} </h2>

  
{{/if}}
{{#if user_error }} 
	<h3 style="color:rgb(231, 26, 26); text-align: center; text-emphasis: shadow 3px;">{{user_error}} </h3> 
{{/if}}




<div class="container">
	<section id="content">
		<form action="" method="POST" >
			<h1>Login </h1>
			<div>
				<input type="text" placeholder="Email" required="" id="email" name="user_email" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" name="user_password" />
			</div>
			<div>
				<input type="submit" value="Log in" />
				<h4><a href="#">Lost your password?</a></h4>
				<h2><a href="/user_reg">Register</a></h2>
				
			</div>
		</form><!-- form -->
		<a href=" /auth/facebook" class="btn btn-info"><span class="fa fa-facebook">login with facebook</span></a>
		<hr>
		<a href="/auth/google" class="btn btn-info"><span class="fa fa-google">login with google+ </span></a>
	    <hr>
		<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter">login with twitter</span></a>
		<hr>
		
		
		 
		<div class="button">
			
			<a href="/">Torama Video Portal</a>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->








{{> footer}}

