{{> header}}





<div class="container">
<hr>
<hr>

<h2 class="">Thank you  {{name}}  for your sign up.</h2>
<h3  class="">you can now login with your credentials  </h3>

<hr>

	
	<hr>
<a href="http://127.0.0.1:5500/" ><button  class=".btn-info bg-success">Login in your credentials here</button></a>


 </div>